{% extends 'base.html.twig' %}

{% block title %}Fight index
{% endblock %}

{% block body %}
	<h1>{{numberOfFights}}
		Fights</h1>
	<a href="{{ path('app_fight_new') }}">Create new</a>
	<a href="{{ path('app_fight_reset_all') }}">Reset all votes</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Fighter 1</th>
				<th>Votes</th>
				<th>Fighter 2</th>
				<th>Votes</th>
				<th>Is_balanced</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fight in fights %}
				<tr>
					<td>{{ fight.id }}</td>
					<td>
						<a href='{{path('app_fighter_show',{'id':fight.votes[0].Fighter.id })}}'>{{ fight.votes[0].Fighter.name}}</a>
					</td>

					<td>{{ fight.votes[0].numberOfVotes}}</td>
					<td>
						<a href='{{path('app_fighter_show',{'id':fight.votes[1].Fighter.id })}}'>{{ fight.votes[1].Fighter.name}}</a>
					</td>
					<td>{{ fight.votes[1].numberOfVotes}}</td>
					<td>{{ fight.isBalanced ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_fight_show', {'id': fight.id}) }}">show</a>
						<a href="{{ path('app_fight_edit', {'id': fight.id}) }}">edit</a>
						<a href="{{ path('app_fight_reset_vote', {'id': fight.id}) }}">reset</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
