{% extends 'base.html.twig' %}

{% block title %}Fighter index
{% endblock %}

{% block body %}
	<h1 style='display:none'>Fighters</h1>
	<h2>Requested fighters
	</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Strength</th>
				<th>Is_valid</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fighter in newFighters %}
				<tr>
					<td>{{ fighter.id }}</td>
					<td>
						<a href='{{ path('app_fighter_edit', {'id': fighter.id}) }}'>{{ fighter.name }}</a>
					</td>
					<td>{{ fighter.strength }}</td>
					<td>{{ fighter.isValid ? 'Yes' : 'No' }}</td>
					<td>
						{{ include('fighter/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no request</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
